@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}
@font-face {
    font-family: 'ReperipointOblique';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'ReperipointOblique';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

/* =========================
   2) 노말라이즈 (한 번만)
========================= */
* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { font-family: 'Pretendard'}
a { color: inherit; text-decoration: none; }
ul, li { list-style: none; }


.sec-1 {
  height: 900px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-title {
  color: #00ff50;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-left: 50px;
}

.main-card {
  width: 578px;
  height: 572px;
  position: relative;
}
.kf-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  opacity: 0;
  transform: translateY(40px);
  text-align: center;
}

.card-num img {
width: 138px;
height: 138px;
}

.main-text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
  margin-top: 30px;
}

.line {
  width: 490px;
  height: 2px;
  background-color: #000;
  margin-bottom: 35px;
}

.sub-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 2.5;
}

.sub-title {
  color: #fff;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  margin-right: 50px;
}



/* 페이지네이션 */
.kf-pagination {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.kf-pagination .dot {
  width: 15px;
  height: 15px;
  background: #555;
  border-radius: 50%;
  transition: 0.3s;
}

.kf-pagination .dot.active {
  background: #00ff64;
  transform: scale(1.4);
}

.sec-2 {
  height: 2052px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sec-title {
  font-size: 250px;
  font-weight: 900;
  text-align: center;
  transform: scaleY(0.7); /* 세로를 눌러서 압박감 */
  letter-spacing: 1px;
  line-height: 1.5;
}

.sec-card {
  width: 500px;
  height: 500px;
  border: 5px solid #000;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.2 s ease;
  overflow: hidden; /* 내용 넘침 방지 */
  cursor: pointer;
}

.sec-card-text {
  font-size: 32px;
  font-weight: bold;
}

.card-1 {
 position: absolute;
 left: 277px;
 top: 70px;
}
.card-2 {
  position: absolute;
  right: 148px;
  top: 639px;
}
.card-3 {
 position: absolute;
 left: 556px;
 bottom: 74px;
}

.sec-sub-text {
  width: 600px;
  height: 70px;
  background: rgba(0, 255, 80, 0.6);
  border-radius: 50px;
  position: absolute;
  left: 300px;
  top: 890px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00972F;
}

.sec-sub-text p {
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

/* 이미지 + 기본 텍스트 숨기기용 */
.card-img {
  transition: opacity 0.3s ease;
}
.sec-card-text {
  transition: opacity 0.3s ease;
}

/* hover: 이미지와 라벨 사라짐 */
.sec-card:hover .card-img,
.sec-card:hover .sec-card-text {
  opacity: 0;
}

/* 카드 배경 변신 */
.sec-card:hover {
  background-color: #000;
  border-color: #000;
}

/* hover-desc (기본 숨김) */
.hover-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* hover 시 설명글 나타남 */
.sec-card:hover .hover-desc {
  opacity: 1;
}
